@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans JP", "Helvetica Neue", "Arial", "sans-serif";
    padding-top: 100px;
    background-color: #E0F7E9;
    overflow-x: hidden;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #444;
    border-bottom: 2px solid #444;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
}

.email {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
    color: #0073e6;
}

.email a {
    text-decoration: none;
    color: #0073e6;
}

.email a:hover {
    text-decoration: underline;
}

.note {
    margin-top: 20px;
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    color: #555;
}

.top-divider {
    border: 0;
    height: 30px;
    background-color: #E0F7E9;
}

footer {
    background-color: rgb(245, 245, 247);
    padding: 20px 0;
    border-top: 1px solid #e0e0e0;
}

.footer-container {
    display: block;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-section h4 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.footer-section ul li {
    margin-bottom: 10px;
    display: inline-block;
}

.footer-section ul li a {
    text-decoration: none;
    color: #333;
    margin-left: 0;
}

.footer-section ul li+li {
    margin-left: 15px;
}

.footer-section ul li a:hover {
    color: #04AA6D;
    transform: scale(1.1);
}

.link-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 0;
}

.flag-icon {
    width: 22px;
    height: 19px;
}

.footer-divider {
    border: none;
    height: 1px;
    background-color: #e0e0e0;
    margin: 20px 0;
}

.footer-bottom {
    text-align: center;
    font-size: 14px;
    color: #777;
}

.footer-bottom p {
    margin: 0;
}

@media (min-width: 600px) and (max-width: 1280px) {

    .footer-links {
        gap: 15px;
    }

    .footer-links a {
        font-size: 13px;
    }

}

@media (max-width: 600px) {

    .footer {
        padding: 15px 0;
    }

    .footer .container {
        padding: 0 10px;
    }

    .footer-links {
        gap: 10px;
    }

    .footer-links a {
        font-size: 12px;
    }

}