@charset "utf-8";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans JP", "Helvetica Neue", "Arial", "sans-serif";
    padding-top: 100px;
    background-color: #E0F7E9;
    overflow-x: hidden;
}

.header-logo {
    display: flex;
    align-items: center;
    transform: translateX(-15px);
    padding: 10px;
}

.header-logo img {
    width: 30px;
    height: auto;
    margin-right: 5px;
}

.header-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    transition: transform 0.3s, opacity 0.3s;
}

.header-dumbbell-logo {
    max-height: 48px;
    max-width: 48px;
    transition: transform 0.3s, opacity 0.3s;
}

.header-link:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.header-text {
    font-size: 16px;
    margin-left: 1px;
    color: black;
    font-weight: 600;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
}


.menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    transform: translateX(-40px);
}

.menu li {
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    font-size: 0.8em;
}

.menu a:hover {
    color: #04AA6D;
    transform: scale(1.1);
}

.sub-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: calc(100% - 40px);
    padding: 0 20px;
    height: 50px;
    background-color: #282A35;
    color: white;
    border-top: 1px solid #eee;
    position: fixed;
    top: 65px;
    z-index: 999;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0 auto;
}

.sub-nav::-webkit-scrollbar {
    height: 4px;
}

.sub-nav::-webkit-scrollbar-track {
    background: #282A35;
}

.sub-nav::-webkit-scrollbar-thumb {
    background: #2c2f38;
    border-radius: 4px;
}

.sub-nav a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 8px;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 20px;
}

.sub-nav .exercise-icon {
    width: 16px;
    height: auto;
    margin-right: 6px;
    transition: transform 0.3s;
}

.sub-nav a:hover {
    background-color: #57585d;
    border-radius: 20px;
    transform: scale(1.2);
}

.top-divider {
    border: 0;
    height: 20px;
    background-color: #E0F7E9;
}

.container {
    background-color: rgb(245, 245, 247);
    width: 60%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.section-title {
    text-align: left;
    font-size: 25px;
}

/* Main section below */

.main-image-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.workout-main-image {
    width: 250px;
    height: 250px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.main-image-title h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    padding-top: 20px;
}

/* muscle-activated-section */

.container h1 {
    font-size: 28px;
    margin-bottom: 40px;
    font-weight: bold;
}

.muscle-activated-table {
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.muscle-activated-table th,
.muscle-activated-table td {
    padding: 20px;
    text-align: left;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
}

.muscle-activated-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.muscle-activated-table tr:last-child td {
    border-bottom: none;
}

/* average section below */

.average-section {
    padding: 20px;
    width: 100%;
}

.tooltip-average {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
}

.tooltip-average .tooltiptext-average {
    visibility: hidden;
    width: 220px;
    background-color: #d4edda;
    color: #155724;
    text-align: center;
    border-radius: 6px;
    font-size: 12px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -110px;
    opacity: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s;
}

.tooltip-average .tooltiptext-average::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #d4edda transparent transparent transparent;
}

.tooltip-average:hover .tooltiptext-average {
    visibility: visible;
    opacity: 1;
}

.info-button {
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
}

.info-icon {
    width: 20px;
    height: auto;
    margin-top: 17px;
    transition: transform 0.3s ease;
}

.info-button:hover .info-icon {
    transform: scale(1.2);
}

.average-section-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.average-section-table th,
.average-section-table td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.average-section-table th {
    color: #777;
    font-size: 16px;
}

.average-section-table td {
    font-size: 18px;
}

.karate-image {
    width: 30px;
    height: auto;
}

.gender-icon {
    width: 30px;
    height: auto;
}

.average-section-note {
    color: #777;
    font-size: 14px;
    line-height: 1.5;
}

/* standards section below */

.subtitle-standards {
    color: #777;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 40px;
    margin-bottom: 40px;
}

.tabs {
    margin-bottom: 20px;
}

.tabs ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.tabs.image-group.is-toggle {
    display: inline-block;
    width: 100%;
    height: auto;
}

.tabs ul li {
    flex: 1;
    margin: 0 5px;
}

.standards-gender-icon {
    width: 30px;
    height: auto;
}

.tabs ul li a {
    text-decoration: none;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border-radius: 20px;
    background-color: #f4f4f4;
    transition: background-color 0.3s ease;
    height: 50px;
    font-size: 0.9rem;
}

.tabs ul li a:hover {
    background-color: #e0e0e0;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.tabs-container .tab {
    display: none;
}

.tabs-container .tab.is-active {
    display: block;
}

.tab-content {
    display: none;
}

.tab-content.is-active {
    display: block;
}

.tabs.is-toggle ul li.is-active a {
    background-color: #34C759;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

.table th,
.table td {
    text-align: center;
    border-left: none;
    border-right: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 0.9rem;
}

.table th {
    background-color: rgb(230, 230, 230);
    color: black;
    font-weight: 500;
    padding: 5px;
}

.table tr td {
    padding: 20px 0;
}

.table-striped tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.tooltip {
    position: relative;
    cursor: pointer;
    color: #777;
    text-decoration: underline;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: #d4edda;
    color: #155724;
    text-align: center;
    border-radius: 6px;
    font-size: 12px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -110px;
    opacity: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #d4edda transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


/* world record section */

.record-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.record-card {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(50% - 10px);
    max-width: calc(50% - 10px);
    box-sizing: border-box;
}

.record-title {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}

.record-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e0e0e0;
}

.record-info {
    flex-grow: 1;
    margin: 0 10px;
}

.record-weight {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.record-holder {
    font-size: 14px;
    color: #555;
}

.update-info {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.record-holder a {
    color: #007BFF;
    text-decoration: none;
}

.record-holder a:hover {
    text-decoration: underline;
}

.flag-icon {
    width: 20px;
    height: 12px;
    margin-left: 5px;
    vertical-align: middle;
}

.official-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
}

/* テーブルの見方 section below */

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
}

td img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: block;
}

/* other workouts section below */

.search-bar-container {
    text-align: center;
    margin-bottom: 50px;
}

#search-bar {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    border: 2px solid #23d160;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
}

#search-bar:focus {
    border-color: #23d160;
}

.section-divider {
    border: none;
    height: 1px;
    background-color: #d2d1d1;
    margin: 20px 0;
}

.exercise-cards-container {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 15px;
    padding-bottom: 50px;
    align-items: stretch;
    box-sizing: border-box;
}

.exercise-card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 10px;
    width: 100%;
    padding: 5px;
    text-align: left;
    flex: 0 0 calc(25% - 15px);
    box-sizing: border-box;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
}

.card-link {
    color: inherit;
    text-decoration: none;
    display: block;
    height: 100%;
}

.exercise-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.exercise-card img {
    width: 80px;
    height: 80px;
    padding-right: 20px;
}

.exercise-details {
    display: flex;
    flex-direction: column;
}

.exercise-card .name {
    font-size: 0.8em;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    font-weight: bold;
}

.exercise-card .category {
    color: #666;
    font-size: 0.7em;
}

/* footer section below */

footer {
    background-color: rgb(245, 245, 247);
    padding: 20px 0;
    border-top: 1px solid #e0e0e0;
}

.footer-container {
    display: block; 
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    margin-bottom: 20px; 
}

.footer-section h4 {
    margin-bottom: 10px; 
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    text-align: center; 
}

.footer-section ul li {
    margin-bottom: 10px; 
    display: inline-block; 
}

.footer-section ul li a {
    text-decoration: none;
    color: #333;
    margin-left: 0; 
}

.footer-section ul li + li {
    margin-left: 15px; 
}

.footer-section ul li a:hover {
    color: #04AA6D;
    transform: scale(1.1);
}

.link-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle; 
    margin-right: 0; 
}

.flag-icon {
    width: 22px;
    height: 19px;  
}

.footer-divider {
    border: none;
    height: 1px;
    background-color: #e0e0e0;
    margin: 20px 0;
}

.footer-bottom {
    text-align: center;
    font-size: 14px;
    color: #777;
}

.footer-bottom p {
    margin: 0;
}

@media (min-width: 600px) and (max-width: 1280px) {

    .container {
        width: 100%;
        max-width: 100%;
        padding: 15px;
    }

    .main-image-title h1 {
        font-size: 30px;
    }

    .header-dumbbell-logo {
        max-height: 36px;
        max-width: 36px;
    }

    .header-text {
        font-size: 12px;
    }

    .sub-nav {
        width: calc(100% - 20px);
        padding: 0 8px;
    }

    .sub-nav a {
        font-size: 10px;
    }

    .sub-nav a:hover {
        transform: scale(1.1);
    }

    .menu a {
        font-size: 0.75em;
    }

    /* average section below */

    .muscle-activated-table {
        width: 100%;
    }

    .section-title {
        font-size: 24px;
    }

    /* average section below */

    .average-section {
        padding: 15px;
        width: 100%;
    }

    .average-section-title {
        font-size: 24px;
    }

    .average-section-table th {
        font-size: 14px;
    }

    .average-section-table td {
        font-size: 16px;
    }

    .karate-image {
        width: 25px;
    }

    .gender-icon {
        width: 25px;
    }

    .average-section-note {
        font-size: 12px;
        line-height: 1.5;
    }

    .info-icon {
        width: 18px;
    }

    .tooltip-average .tooltiptext-average {
        width: 180px;
        font-size: 14px;
        margin-left: -90px;
    }

    .tooltip-average .tooltiptext-average::after {
        margin-left: -4px;
    }

    /* standard section below */

    .tabs ul li a {
        font-size: 0.8rem;
    }

    .standards-gender-icon {
        width: 25px;
    }

    .title-standards {
        font-size: 22px;
    }

    .subtitle-standards {
        font-size: 12px;
    }

    .table th,
    .table td {
        font-size: 0.8rem;
    }

    .tooltip .tooltiptext {
        width: 180px;
        font-size: 14px;
        margin-left: -90px;
    }

    .tooltip .tooltiptext::after {
        margin-left: -4px;
    }

    /* world record section below */

    .record-card {
        padding: 15px;
        width: calc(50% - 15px);
    }

    .flag-icon {
        width: 18px;
        height: 12px;
    }

    /* テーブルの見方 section below */

    h1 {
        font-size: 22px;
    }

    th,
    td {
        padding: 10px;
    }

    table {
        font-size: 14px;
    }

    /* other worlouts section below */

    .exercise-subtitle {
        font-size: 0.85rem;
    }

    .exercise-cards-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .exercise-card {
        flex: 0 0 calc(33% - 15px);
    }

    .exercise-card .name {
        font-size: 0.68em;
    }

    .exercise-card .category {
        font-size: 0.58em;
    }
    
    /* footer section below */
    
    .footer-links {
        gap: 15px;
    }

    .footer-links a {
        font-size: 13px;
    }

}

@media (max-width: 600px) {

    .container {
        width: 100%;
        max-width: 100%;
        margin: 0;
        margin-bottom: 20px;
        padding: 10px;
    }

    .main-image-title h1 {
        font-size: 26px;
    }

    .header-logo a {
        display: flex;
        align-items: center;
        padding-left: 0px;
    }

    .header-logo img {
        width: 22px;
        margin-right: 4px;
    }

    .header-dumbbell-logo {
        max-height: 30px;
        max-width: 30px;
    }

    .header-text {
        font-size: 12px;
    }

    .menu {
        transform: translateX(-30px);
    }

    .menu li {
        margin-left: 10px;
    }

    .menu a {
        font-size: 0.65em;
    }

    .sub-nav {
        width: 100%;
        padding: 0 5px;
        top: 59px;
    }

    .sub-nav a {
        font-size: 10px;
    }

    .sub-nav a:hover {
        transform: scale(1.1);
    }

    /* muscle-activated-section */

    .container h1 {
        font-size: 24px;
    }

    .muscle-activated-table {
        max-width: 100%;
    }

    .section-title {
        font-size: 10px;
    }

    .muscle-activated-table th,
    .muscle-activated-table td {
        padding: 10px;
        font-size: 12px;
    }

    /* average section below */

    .average-section {
        padding: 15px;
        width: 100%;
    }

    .average-section-title {
        font-size: 20px;
    }

    .average-section-table th {
        font-size: 12px;
    }

    .average-section-table td {
        font-size: 12px;
    }

    .karate-image {
        width: 25px;
    }

    .gender-icon {
        width: 25px;
    }

    .average-section-note {
        font-size: 12px;
        line-height: 1.5;
    }

    .info-icon {
        width: 16px;
    }

    .average-section-note {
        font-size: 10px;
        line-height: 1.2;
    }

    .tooltip-average .tooltiptext-average {
        width: 180px;
        font-size: 14px;
        margin-left: -90px;
    }

    .tooltip-average .tooltiptext-average::after {
        margin-left: -4px;
    }

    /* standard section below */

    .tabs ul li a {
        font-size: 0.8rem;
    }

    .standards-gender-icon {
        width: 25px;
    }

    .title-standards {
        font-size: 20px;
    }

    .subtitle-standards {
        font-size: 12px;
    }

    .table th,
    .table td {
        font-size: 0.7rem;
    }

    .tooltip .tooltiptext {
        width: 180px;
        font-size: 14px;
        margin-left: -90px;
    }

    .tooltip .tooltiptext::after {
        margin-left: -4px;
    }

    /* world record section below */

    .record-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }

    .record-card {
        flex: 1 1 calc(80% - 10px);
        min-width: 100%;
        margin-bottom: 5px;
        padding: 20px;
    }

    .record-title {
        font-size: 12px;
    }

    .profile-photo {
        width: 40px;
        height: 40px;
    }

    .record-weight {
        font-size: 15px;
    }

    .record-holder {
        font-size: 11px;
    }

    .update-info {
        font-size: 11px;
    }

    .flag-icon {
        width: 14px;
        height: 10px;
    }

    .official-icon {
        top: 8px;
        right: 8px;
        width: 20px;
        height: 20px;
    }

    /* テーブルの見方 section below */

    h1 {
        font-size: 20px;
        margin-bottom: 15px;
        text-align: center;
    }

    th,
    td {
        padding: 8px;
        font-size: 9px;
    }

    table {
        font-size: 9px;
    }

    /* other workouts section below */

    .exercise-cards-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .exercise-card {
        flex: 0 0 calc(50% - 15px);
    }

    .exercise-card img {
        width: 60px;
        height: 60px;
        box-sizing: border-box;
    }

    .exercise-card .name {
        font-size: 0.575em;
        box-sizing: border-box;
    }

    .exercise-card .category {
        font-size: 0.5em;
        box-sizing: border-box;
    }
    
    /* footer section below */
    
    .footer {
        padding: 15px 0;
    }

    .footer .container {
        padding: 0 10px;
    }

    .footer-links {
        gap: 10px;
    }

    .footer-links a {
        font-size: 12px;
    }

}